<%= link_to 'upload firmware', new_firmware_path %>
<table>
  <thead>
    <tr>
      <td>Firmware id</td>
      <td>Firmware</td>
      <td>Firmware version</td>
      <td>Firmware checksum</td>
      <td>Delete firmware</td>
      <td>Created at</td>
    </tr>
  </thead>
  <tbody>
    <% @firmwares.each do |firmware| %>
      <tr>
        <td><%= firmware.id %></td>
        <td><%= link_to firmware.file_file_name, firmware.file.url %></td>
        <td><%= firmware.version %></td>
        <td><%= firmware.checksum %></td>
        <td><%= link_to 'delete', firmware_path(firmware), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <td><%= firmware.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container">
  <h2>Chart.js Responsive Bar Chart Demo</h2>
  <div>
    <canvas id="canvas"></canvas>
  </div>
</div>
