<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Pineapple health solutions" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">
            <%= image_tag 'logo.png', size: '40x40' %>
          </li>
          <li <%= params[:controller] == 'pages' ? 'class=activated' : '' %>>
            <%= link_to 'Home', page_path %>
          </li>
          <li <%= params[:controller] == 'blood_sugars' ? 'class=activated' : '' %>>
            <%= link_to 'Measurements database', blood_sugars_path %>
          </li>
          <li <%= params[:controller] == 'firmwares' ? 'class=activated' : '' %>>
            <%= link_to 'Software', firmwares_path %>
          </li>
          <li <%= params[:controller] == 'devices' ? 'class=activated' : '' %>>
            <%= link_to 'My statistics platform', device_path %>
          </li>
          <% if current_user.present? && current_user.admin? %>
            <li>
              <%= link_to 'Admin panel', admin_devices_path %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <% if current_user.nil? %>
            <li class="menu-text"><%= link_to 'Log in', new_user_session_path %></li>
          <% else %>
            <li class="menu-text"><%= link_to current_user.email, device_path %>
              <ul class="menu vertical">
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row">
      <% if flash[:alert].present? %>
        <div class="callout alert">
          <%= flash[:alert]%>
        </div>
      <% end %>

      <% if flash[:notice].present? %>
        <div class="callout primary">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
