<h1>Saved devices</h1>
<table>
  <thead>
    <tr>
      <td>UID</td>
      <% if Rails.env.development? %>
        <td>Key in base64</td>
      <% end %>
      <td>Firmware version</td>
      <td># Bloodsugars</td>
      <td>Coupled to user</td>
      <td>Delete</td>
      <td>Created at</td>
    </tr>
  </thead>
  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.uid %></td>
        <% if Rails.env.development? %>
          <td><%= device.key %></td>
        <% end %>
        <td><%= device.firmware.nil? ? 'Unknown version' : device.firmware.version %></td>
        <td><%= device.blood_sugars.count %></td>
        <td><%= device.user.email %></td>
        <td><%= link_to 'delete', admin_device_path(device), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <td><%= device.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Create new device', new_admin_device_path, class: 'button'  %>
